# Backend
DB_USER=postgres
DB_PASS=postgres
JWT_SECRET=replace-with-long-random
OPENAI_API_KEY=    # leave blank to use MOCK AI
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USER=           # your Mailtrap username
MAIL_PASS=           # your Mailtrap password
GOOGLE_CLIENT_ID=901743942002-pniu389ui7g6dqs9f9d3ltmmlk4obr55.apps.googleusercontent.com
