# Backend
DB_USER=postgres
DB_PASS=postgres
JWT_SECRET=replace-with-long-random
OPENAI_API_KEY=    # leave blank to use MOCK AI
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=
MAIL_PASS=
GOOGLE_CLIENT_ID=901743942002-pniu389ui7g6dqs9f9d3ltmmlk4obr55.apps.googleusercontent.com
